@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.url {
  background-image: url('/assets/banner-hero/games/diablo-bg.png');  
}